@model LoginViewModel

@{
    ViewData["Title"] = "Log in | Personal Trainer Software for Professionals";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Personal Trainer Software for Professionals</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login-register-style.css">
</head>

<body class="login-body">
    <div class="main-div">
        <p class="signin-p">Sign into your account</p>
        <p class="helper-p">to continue growing your business</p>

        <section class="login-section">
            <img class="logo-img" src="images/TextLogo.png" alt="EzyShape" width="150" height="40">

            <div class="forms-div">
                <!-- Form for logging in -->
                <form asp-action="Login" method="post">
                    <!-- Email field -->
                    <label asp-for="UserName" class="email-label">Username&nbsp;<span style="color: red;">*</span></label>
                    <input asp-for="UserName" autocomplete="username" aria-required="true" type="text" id="email"><br>
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <!-- Password field -->
                    <label asp-for="Password" class="password-label">Password&nbsp;<span style="color: red;">*</span></label>
                    <input asp-for="Password" type="password" autocomplete="current-password" aria-required="true" id="password"><br>
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <!-- Submit button -->
                    <div>
                        <button id="login-submit" type="submit" class="login-button">Log in</button>
                    </div>
                </form>
            </div>
        </section>
        <p class="noaccount-p">Don't have an account? <a href="/User/Register">Sign up now!</a></p>
    </div>
</body>

</html>
