@model RegisterViewModel;

@{
    ViewData["Title"] = "Register | Personal Trainer Software for Professionals";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Personal Trainer Software for Professionals</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/login-register-style.css">
</head>
<body>
    <div class="main-div">
        <p class="signin-p">Create your account</p>
        <p class="helper-p">to join our community and grow your business</p>

        <section class="register-section">
            <img class="logo-img" src="~/img/TextLogo.png" alt="EzyShape" width="150" height="40">

            <div class="forms-div">
                <form asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Username -->
                    <label asp-for="UserName" class="email-label">Username&nbsp;<span style="color: red;">*</span></label><br>
                    <input asp-for="UserName" type="text" autocomplete="username" aria-required="true"><br>
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <!-- First Name -->
                    <label asp-for="FirstName" class="email-label">First Name&nbsp;<span style="color: red;">*</span></label><br>
                    <input asp-for="FirstName" type="text" autocomplete="firstname" aria-required="true"><br>
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                    <!-- Last Name -->
                    <label asp-for="LastName" class="email-label">Last Name&nbsp;<span style="color: red;">*</span></label><br>
                    <input asp-for="LastName" type="text" autocomplete="lastname" aria-required="true"><br>
                    <span asp-validation-for="LastName" class="text-danger"></span>

                    <!-- Email -->
                    <label asp-for="Email" class="email-label">Email&nbsp;<span style="color: red;">*</span></label><br>
                    <input asp-for="Email" type="email" autocomplete="email" aria-required="true"><br>
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <!-- Password -->
                    <label asp-for="Password" class="password-label">Password&nbsp;<span style="color: red;">*</span></label><br>
                    <input asp-for="Password" type="password" autocomplete="new-password" aria-required="true"><br>
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <!-- Confirm Password -->
                    <label asp-for="ConfirmPassword" class="password-label">Confirm Password&nbsp;<span style="color: red;">*</span></label><br>
                    <input asp-for="ConfirmPassword" type="password" autocomplete="new-password" aria-required="true"><br>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <!-- Submit Button -->
                    <div>
                        <button id="register-submit" type="submit" class="login-button">Register</button>
                    </div>
                </form>
            </div>
        </section>

        <p class="noaccount-p">Already have an account? <a href="/User/Login">Login now!</a></p>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
