@model AddWorkoutViewModel

@{
    ViewData["Title"] = "Add Workout";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
</head>



<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />

    <form asp-action="AddWorkout" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Workout Name</label>
            <input asp-for="Name" class="form-control" aria-required="true" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input type="submit" value="Add Workout" class="btn btn-primary" />
        </div>
    </form>
</div>
