@{
    ViewData["Title"] = "Dashboard | Personal Trainer Software for Professionals";
}

<!DOCTYPE html>
<html>

<head>
    <title>Dashboard | EzyShape</title>
</head>

<body>
    <p>Dashboard</p>
</body>

</html>
