﻿
<html>

<head>
    <title>Trainer Menu</title>
</head>


<body>
    <div class="mt-4 p-5 bg-light text-center">
        <h2 class="display-4">Hello, Trainer!</h2>
        <p class="lead mb-1 mt-3">
            This is your trainer area!
        </p>
        <hr class="my-4">

    </div>
</body>


</html>