
<html>

<head>
    <title>Admin Menu</title>
    <link href="~/css/styling.css" rel="stylesheet" type="text/css" />
</head>


<body>
    <div class="mt-4 p-5 bg-light text-center">
        <h2 class="display-4">Hello, Trainer!</h2>
        <p class="lead mb-1 mt-3">
            This is your Trainer area - you can <b>Create new client profiles</b> and <b>track</b> their progress
        </p>
        <hr class="my-4">

        <button type="button" class="button" style="background: lightgray;border:1px solid black;margin-right: 10px">
            <div>
                <a class="nav-link text-dark" asp-area="Trainer" asp-controller="Client" asp-action="CreateClient">Create a new client profile</a>
            </div>
        </button>


        <button type="button" class="button" style="background: lightgray;border:1px solid black;margin-right: 10px">
            <div>
                <a class="nav-link text-dark" asp-area="Trainer" asp-controller="Client" asp-action="AllClients">My Clients</a>
            </div>
        </button>


        <button type="button" class="button" style="background: lightgray;border:1px solid black;margin-right: 10px">
            <div>
                <a class="nav-link text-dark" asp-area="Trainer" asp-controller="Exercise" asp-action="AllExercises">My exercises list</a>
            </div>
        </button>


        <button type="button" class="button" style="background: lightgray;border:1px solid black;margin-right: 10px">
            <div>
                <a class="nav-link text-dark" asp-area="Trainer" asp-controller="Workout" asp-action="AllWorkouts">My Workouts</a>
            </div>
        </button>


    </div>
</body>


</html>
