.title-text {
    color: rgb(32, 81, 241);
    font-weight: 600;
    font-size: 18px;
}


/*Sub Navigation Div*/

.sub-nav-div {
    margin-top:20px;
    display: flex;
    flex-direction: row;
}

.suv-nav-button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    width: calc(100%/5);
    height: 30px;

    font-weight: 600;
    font-size: 18px;

    transition: color 0.3s ease-in-out;
}

.sub-active {
    color: rgb(32, 81, 241);
    border-bottom: 2px solid rgb(32, 81, 241);
}

    .suv-nav-button:hover {
        cursor: pointer;
        color: rgb(32, 81, 241);
    }

.button-current-page {
    color: rgb(22, 119, 255);
    border-bottom: 1px solid rgb(22, 119, 255);
}


/* Programs div*/
.programs-div{
    display:none;
}

.button-div {
    width: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px; /* Optional: Adds some spacing */
}

.add-program-button {
    background-color: #e8edfd;
    border: 1px solid #d1dbfb;
    border-radius: 8px;
    color: rgb(22, 119, 255) !important;
    height: 40px;
    width: 150px;

    font-weight:600;
}

.add-program-button:hover{
    cursor:pointer;
}

.programs-list-div{
    width:auto;
    border-radius:16px;
    padding:8px;
    display:flex;
    flex-direction:column;
}

.list-title-div {
    background-color: #fafafa;
    width: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 8px;
}
.div-title-text {
    margin:8px 4px;
}

.program-div {
    padding: 8px;
    transition: background-color 0.3s ease-in-out;
    border-top: 1px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

    .program-div:hover {
        cursor: pointer;
        background-color: #fafafa;
    }

.program-info-div{
    width:95%;
}

.button-remove-program {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    transition: border-color 0.3s ease; /* 👈 Add this line */
}

    .button-remove-program:hover {
        cursor: pointer;
        border: 2px solid #2051f1;
    }



/* History div*/
.history-div {
    display: none;
}

/* Sub div*/
.div-active {
    display: flex;
    flex-direction:column;
}
