:root {
    --primary-border-color: #f0f0f0; /*Make it #f0f0f0*/
}


.div-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tbl-header {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
    color: black;
}

.button-add {
    background-color: #e8edfd;
    border: 1px solid #d1dbfb;
    border-radius: 16px;
    color: red !important;
    height: 40px;
    width: 150px;
}

.button-add-link {
    color: rgb(32, 81, 241);
    font-weight: 600;
}

.div-input {
    margin-top: 30px;
    margin-bottom: 10px;
}

input {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 6px;
}

.table {
    width: auto;
    table-layout: fixed;
}

    .table th:nth-child(1), .table td:nth-child(1) {
        width: 60%;
    }

    .table th:nth-child(2), .table td:nth-child(2) {
        width: 15%;
    }

    .table th:nth-child(3), .table td:nth-child(3) {
        width: 15%;
    }

    .table th:nth-child(4), .table td:nth-child(4) {
        width: 10%;
    }

    .table th:nth-child(5), .table td:nth-child(5) {
        width: 10%;
    }

    .table img {
        max-width: 100%;
    }


.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid var(--primary-border-color);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
}

td {
    border-radius: 16px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
}

tr {
    transition: background-color 0.3s ease;
}

thead {
    background-color: #f0f0f0;
}

tbody tr
{
    height:70px;
}

    tbody tr:hover {
        background-color: #fafafa;
        cursor: pointer;
    }

.td-center {
    text-align: center;
}

table {
    border: 1px solid var(--primary-border-color);
    border-collapse: collapse;
}

th {
    border-left: 1px solid var(--primary-border-color);
}

.button-delete {
    display: flex;
    justify-content: center; /* Horizontally center the icon */
    align-items: center; /* Vertically center the icon */
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: transparent; /* Set background to transparent if desired */
    cursor: pointer; /* Change cursor to pointer on hover */
}

    .button-delete:hover {
        color: rgb(32, 81, 241);
        border-color: rgb(32, 81, 241);
    }




.client-item {
    display: flex;
    flex-direction: row;
}


.client-name-p {
    margin-left:20px;
    font-size: 18px;
    white-space: nowrap; /* Prevents wrapping */
}


/*photo div*/


.photo-div {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Ensure it's the same as width */
    border-radius: 12px;
    margin: auto 0 auto 5px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the text properly */
}

.photo-letter {
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    color: #2051f1;
}