body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #2051f1;
}

nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid lightgray;
    color: rgb(121, 121, 134);
    height: 100vh;
    overflow-y: auto;
}

#navbar {
    margin-left: 20px;
}

.nav-main, .nav-manage, .nav-library {
    margin-top: 20px;
}

.category-text {
    font-weight: 600;
}

.header-div {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 20px;
}

.profile-options-div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

    .profile-options-div a {
        margin-left: 20px;
        color: white;
        text-decoration: none;
    }

svg {
    color: white;
    width: 30px;
    height: 30px;
}


.menu-div {
    padding-left: 20px;
}


a > p {
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

    a > p:hover {
        background-color: #edf1fe;
    }


/*Dropdown button*/
.dropbtn {
    margin-left: 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
    top: 40px;
    border-radius: 5px;
    flex-direction: column; /* Add flex-direction column */
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        flex-direction: column; /* Add flex-direction column */
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.show {
    display: flex;
}
/*Dropdown button*/

.dropdown-identify-div {
    display: flex;
    width: 100%;
    flex-direction: column; /* Change from row to column */
    align-items: center; /* Add align-items center */
}

.dropdown-name {
    font-size: 1rem;
}

.dropdown-email {
    font-size: 0.75rem;
}

.header-item {
    cursor: pointer;
}
