/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f1f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto; /* Full viewport height */
}

/* Header */
.app-header {
    position: fixed; /* Keep the header fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    color: black;
    padding: 10px;
    text-align: center;
    z-index: 10; /* Ensure it stays above the main content */
}

    .app-header p {
        font-weight: 600;
    }

/* Main Content */
main {
    margin-top: 60px; /* Ensure the content starts below the fixed header */
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-bottom: 60px; /* Space for the bottom navigation */
}

/* General Section Container */
.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: left;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: white;
}

/* Info Section */
.info-section {
    height: 125px;
}

.name-div {
    height: 50%;
    display: flex;
    flex-direction: row;
}

/* photo div */
.photo-div {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Ensure it's the same as width */
    border-radius: 12px;
    margin: auto 0 auto 5px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the text properly */
}

.photo-letter {
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    color: #2051f1;
}

.name-email-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.name-p {
    width: 100%;
    margin: 0;
    margin-bottom: 3px;
    font-weight: 900;
    font-style: italic;
}

.email-p {
    width: 100%;
    margin: 0;
    margin-top: 3px;
    color: gray;
    font-weight: 00;
    font-style: italic;
}

.counts-div {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.count-div{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:row;
}

.workout-count-div {
    border-right: 1px solid #d9d9d9;
}

.icon-div {
    display: flex;
    width: 30%;
    justify-content: center;
}

.count-icon {
    padding: 0;
    margin: 0;
    width: 30%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 32px;
    color: #0000ff
}
.counts-text-div {
    padding: 0;
    margin: 0;
    justify-content:center;
    align-content:center;
}

.count-number{
    padding:0;
    margin:0;
    font-size:20px;
}

.count-text {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: gray;
}
/* Check Ins Section */
.checkins-section {
    min-height: 50px;
}

.no-checkins-p {
    color: gray;
    text-align: center;
    font-size: 15px;
}

/* Weights Section */
.weight-section {
    min-height: 75px;
}


.no-weight-p {
    color: gray;
    text-align: center;
    font-size: 15px;
}

.weight-icon {
    color: #0000ff
}

/* Gallery Section */
.gallery-section {
    min-height: 150px;
}
.gallery-icon {
    color: #0000ff
}

.no-photos-p {
    color: gray;
    text-align: center;
    font-size: 15px;
}

.gallery-photo {
    width: 30%;
    height: 100px;
    object-fit: scale-down;
    margin: 5px;
    border-radius: 5px;
}


/* General Section Styling */
.container {
    padding: 10px;
}

.section-title-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding:5px 0px;
    border-bottom: 1px solid #d9d9d9;
}

.section-text-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .section-text-div > i {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    .section-text-div > p {
        font-size: 16px;
        padding: 0;
        margin: 0;
        width: auto;
        text-wrap: nowrap;
        height: auto;
        margin-left:10px;
    }

.section-buttons-div {
    display: flex;
    flex-direction: row;
}
.add-item-button {
    border: none;
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size:24px;
}

/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 10px 0;
    z-index: 1000;
}

.nav-item {
    text-decoration: none;
    color: gray;
    font-size: 24px;
}

    .nav-item.active {
        color: blue;
    }

.box-shadow {
    box-shadow: 0 1px 5px 0 #a1c9ff;
}

/* Chart */
#weightChart {
    width: 100%;
    height: 200px;
}


/* Settings modal */

.settings-button-div{
    display:flex;
    flex-direction:row-reverse;
    flex:1;
    margin:auto 0px;
}

.settings-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.settingsModal {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #f2f1f6;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
}

    .settingsModal.active {
        right: 0;
    }

.settings-top-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.settings-title-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    margin: 0;
}


.settings-body {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.back-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color:blue;
}

.logout-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: #f55231;
    border-radius: 16px;
    padding: 5px 10px;
}


.settings-info-section {
    display:flex;
    padding:10px;
    flex-direction:column;
    justify-content:space-between;
}


.settings-info-top-div {
    display: flex;
    border-bottom: 1px solid #f2f1f6;
    padding-bottom: 10px;
}

.settings-info-top-div >p{
    margin:0 5px;
}

.settings-info-bottom-div {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.name-input {
    background-color: #f2f1f6;
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    outline: none;
    flex: 1 1 auto; /* grow, shrink, basis */
    margin-right: 5px;
    min-width: 0; /* important to allow shrinking inside a flex row */
}


.save-name-button {
    border: none;
    background-color: #d9d9d9;
    border-radius: 12px;
    height: 30px;
    width:100px;
    font-size: 16px;
    color:#fff;
}

.settings-language-section {
    min-height: 100px;
}


.language-select {
    background-color: #f2f1f6;
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    outline: none;
    flex: 1 1 auto;
    margin-right: 5px;
    min-width: 0;
    font-size: 16px;
}
