<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EzyShape</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EzyShape</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div class="partial">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex">
        <nav class="sidebar d-none d-md-block">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <p class="nav-text">MAIN</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Trainer" asp-controller="Client" asp-action="AllClients">My Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Trainer" asp-controller="Exercise" asp-action="AllExercises">My exercises list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Trainer" asp-controller="Workout" asp-action="AllWorkouts">My Workouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Trainer" asp-controller="Split" asp-action="AllSplits">My Splits</a>
                </li>
            </ul>
        </nav>
        <main role="main" class="main-content flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - EzyShape - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
