<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EzyShape</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <nav class="sidebar d-none d-md-block">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <p class="nav-text">MAIN</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Trainer" asp-controller="Client" asp-action="AllClients">My Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Trainer" asp-controller="Exercise" asp-action="AllExercises">My exercises list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Trainer" asp-controller="Workout" asp-action="AllWorkouts">My Workouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Trainer" asp-controller="Split" asp-action="AllSplits">My Splits</a>
                </li>
            </ul>
        </nav>
        <main role="main" class="main-content flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
