@using Microsoft.AspNetCore.Identity
@using EzyShape.Infrastructure.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav ml-auto d-flex align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form id="logoutForm" class="d-flex logout-button" asp-controller="User" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">
                <button type="submit" class="btn btn-link nav-link text-dark p-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Get Started</a>
        </li>
    }
</ul>
