@model Split

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/Client/workoutModal.css">
</head>

<!-- Fullscreen Bottom Modal -->
<div id="workoutModal" class="modal-overlay">
    <div class="modal-slider">
        @foreach(var workout in Model.WorkoutIds)
        {
            <div class="concrete-workout-container" data-workoutId="@workout.Workout.Id">
                <button class="close-modal-btn" onclick="closeModal()">×</button>
                <div class="concrete-workout-top-div">
                    <h3 class="concrete-workout-name-text">
                        @workout.Workout.Name
                    </h3>
                </div>
                <div class="concrete-workout-content-div">
                    <div class="exercises-count-div">
                        <p class="exercises-count-text">@workout.Workout.ExerciseIds.Count() Exercises</p>
                    </div>
                    <div class="exercises-list-div">
                        @foreach (var exercise in workout.Workout.ExerciseIds)
                        {
                            <div class="exercise-item-div">
                                <div class="exercise-img">
                                    <img src="img/ClientArea/workoutBackground.jpg" alt="Alternate Text" style="height:20px; width:20px;" />
                                </div>
                                <p class="exercise-name">
                                    @exercise.Exercise.Name
                                </p>
                            </div>

                        }
                    </div>
                </div>
                <div class="workout-bottom-div">
                    <button class="start-workout-button">
                        Start Workout
                    </button>
                </div>
            </div>
        }
    </div>
</div>