@model IEnumerable<SplitViewModel>
@Html.AntiForgeryToken()


@{
    ViewData["Title"] = "My Programs | Personal Trainer Software for Professionals";
    Layout = null;
}

@using Microsoft.AspNetCore.Identity
@using EzyShape.Infrastructure.Data.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzyShape | Personal Trainer Software for Professionals</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/Client/allWorkouts.css">
    <link rel="stylesheet" href="~/css/Client/bottomNavigation.css">
</head>
<body>

    <!-- Header -->
    <header class="app-header">
        <p>Training</p>
        <div class="sub-nav-div">

            <button class="suv-nav-button sub-active">
                <i class="fa-solid fa-dumbbell"></i>
                Programs
            </button>

            <button class="suv-nav-button">
                <i class="fa fa-history" aria-hidden="true"></i>
                History
            </button>

        </div>
    </header>

    <main>
        <div class="programs-div div-active">

            @foreach (var split in Model)
            {
                <div class="container">
                    <div class="container-texts-div">
                        <div class="workout-name-div">
                            <p class="workout-name-text">
                                @split.Name
                            </p>
                        </div>
                        <div class="workout-info-div">
                            <i class="fa-solid fa-circle-info"></i>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="history-div">
            History
        </div>
        
    </main>


    <!-- Bottom Navigation -->
    <nav class="bottom-nav">
        <a asp-area="Client" asp-controller="Client" asp-action="Index" class="nav-item">
            <i class="icon-home">
                <i class="fa-solid fa-house"></i>
            </i>
        </a>
        <a href="#" class="nav-item active"><i class="icon-nutrition"><i class="fa-solid fa-dumbbell"></i></i></a>

        <a href="#" class="nav-item"><i class="icon-water"><i class="fa-solid fa-chart-line"></i></i></a>


        <a asp-area="Client" asp-controller="Client" asp-action="Profile" class="nav-item">
            <i class="icon-settings"></i>
            <i class="fa-solid fa-user"></i>
        </a>


    </nav>

    <script src="~/js/toggleTrainingSubNavigation.js" asp-append-version="true"></script>
</body>
</html>